@font-face {
font-family: western-title;
    src: url('../fonts/AbhayaLibre-Regular.ttf');
    src: url('../fonts/Spaghetti Western NF W01 Rg.ttf');
}

@font-face {
font-family: western-menu;
src: url('../fonts/AbhayaLibre-Regular.ttf');
src: url('../fonts/RioGrande-Regular.ttf');

}

@font-face {
    font-family: western-text;
    src: url('../fonts/AbhayaLibre-Regular.ttf');
    src: url('../fonts/Smokum-Regular.ttf');
    
}

$container-width: 100%;
$site-width: 960px;
$color-pallete-1: #222f3e;
$color-pallete-2: #0984e3;

$color-pallete-western-green: #626820;

html {
    height: 100%;
}
body {
    font-family: western-text, Arial, Helvetica, sans-serif ;
    font-size: 17px;
    line-height: 22px;
    margin: 0px;
    background: rgb(186, 124, 73);
    height: 100%;

    > div {
        height: 100%;

        > div {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
}

a {
    color: $color-pallete-western-green;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


