@import '../styles/global';
.main-footer {
    background: $color-pallete-9;
    

    .main-size {
        margin: 0 auto;
        max-width: $site-width;
        padding: 1.45rem 1.0875rem;
        color: #fff;
        font-family: western-title, Arial, Helvetica, sans-serif ;
        // font-family: cursive;
    }
}