.main-footer {
    background: rgb(79, 50, 32);
    

    .main-size {
        margin: 0 auto;
        max-width: 960px;
        padding: 1.45rem 1.0875rem;
        color: #fff;
        font-family: western-title, Arial, Helvetica, sans-serif ;
        // font-family: cursive;
    }
}