@import '../styles/global';

.main-header {
    background: $color-pallete-1;
    box-shadow: 0px 5px 8px #bbb;
    z-index: 10;

    .main-size {
        margin: 0 auto;
        max-width: $site-width;
        padding: 1.45rem 1.0875rem;
        display: flex;
        justify-content: space-between;
    }
    
    .main-title {
        margin: 0;
        letter-spacing: 4px;
        font-weight: normal;
        text-transform: uppercase;

        a {
            color: $color-pallete-5;
            text-decoration: none;
        }
    }

    .link {
        // color: #2F391E;
        color: #fff;
        text-decoration: none;
        // font-weight: bold;
        padding-left: 17px;
        letter-spacing: 4px;
        color: $color-pallete-5;

        &:hover {
            text-decoration: underline;
        }
    }

    .button {
        background-color: $color-pallete-1;
        display: inline-block;
        font-size: 12px;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        height: 30px;
        min-width: 15px;
        line-height: 30px;
        padding-left: 10px;
        margin-right: 10px;
        padding-right: 10px;
        margin-bottom: 10px;

        &:hover {
            background-color: $color-pallete-2;
        }
    }
    
    .button-icon {
        @extend .button;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .button-twitter {
        @extend .button-icon;
        // background-image: url('.../image/linkedin.png');
    }
}



